.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1310px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  color: #1e8efc;
  font: 800 24px/1.1 'Nosifer Caps', sans-serif;
}

.nav {
  flex-grow: 1;
  margin: 0 24px;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px;
  font: 700 16px 'Raleway', sans-serif;
  color: #000;
  position: relative;
}

.navItem.active {
  color: #1976d2;
}

.navItem.active::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 69px;
  height: 2px;
  background-color: #1976d2;
}

.navIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.joinButton {
  border-radius: 16px;
  background-color: #1e8efc;
  color: #fff;
  padding: 8px 24px;
  font: 600 14px 'Montserrat', sans-serif;
  border: 1px solid #000;
  cursor: pointer;
}

@media (max-width: 991px) {
  .header {
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav {
    order: 3;
    width: 100%;
    margin: 0;
  }

  .navList {
    justify-content: space-between;
  }

  .joinButton {
    padding: 8px 20px;
  }
}